---
import MicroFrontends from "../components/MicroFrontends";
import { asset, css, js } from "../utils/entrypoints";

const responseA = await fetch("http://localhost:7100/manifest.json");
const manifestA = await responseA.json();

const responseB = await fetch("http://localhost:7200/manifest.json");
const manifestB = await responseB.json();

const jsEntryPointA = manifestA[js][asset];
const jsEntryPointB = manifestB[js][asset];

const cssEntryPointA = manifestA[css][asset];
const cssEntryPointB = manifestB[css][asset];

const manifest = {
  mfa: {
    url: `http://localhost:7100/${jsEntryPointA}`,
    css: `http://localhost:7100/${cssEntryPointA}`
  },
  mfb: {
    url: `http://localhost:7200/${jsEntryPointB}`,
    css: `http://localhost:7200/${cssEntryPointB}`
  }
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href={manifest.mfa.css} />
    <link rel="stylesheet" href={manifest.mfb.css} />
    <title>Shell app</title>
  </head>
  <body>
    <main>
      <h1>Shell app</h1>
      <MicroFrontends manifest={manifest}>
    </main>
  </body>
</html>
